@font-face {
  font-family: 'CustomFont';
  src: url('./types/FONT.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  font-family: 'CustomFont', monospace, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input, textarea, button, select {
  font-family: 'CustomFont', monospace, sans-serif;
}

* {
  font-family: 'CustomFont', monospace, sans-serif;
}
